* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
  width: 90vw;
  min-height: 90vh;
  display: grid;
  place-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.button-container button {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2rem;
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
}

.button-container button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.button-container button:active {
  color: red;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.35), inset;
}

.prev-btn {
  display: none;
}

.show-btn {
  display: inline-block;
}

.hide-btn {
  display: none;
}

.slide-container {
  position: relative;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.slide-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.slide {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: all 0.4s linear;
}
.slide-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.nextSlide {
  transform: translateX(100%);
  opacity: 0;
}
.prevSlide {
  transform: translateX(-100%);
  opacity: 0;
}

.activeSlide {
  transform: translateX(0);
}
