@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --green1: rgb(175, 255, 255);
  --green2: rgb(92, 245, 245);
  --green3: rgb(7, 176, 182);
  --green4: rgb(4, 143, 153);
  --green5: rgb(2, 79, 85);
  --green6: rgb(11, 83, 71);
  --services: rgba(221, 243, 223, 0.795);
  --black1: rgba(0, 0, 0, 0.7);
  --black2: rgba(0, 0, 0, 0.5);
  --black3: rgba(0, 0, 0, 0.2);
  --grey2: rgb(255, 255, 255);
  --grey1: rgb(241, 227, 227);
  --red1: rgb(119, 32, 32);
  --blue1: rgb(8, 97, 15);
  --white1: rgb(241, 250, 241);
  --white2: white;
  --white3: rgba(221, 248, 230, 0.74);
  --transition: all 0.5s linear;
}

html {
  scroll-behavior: smooth;
  background-color: var(--grey2);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

span {
  color: var(--green2);
  font-weight: 800;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: var(--white1);
  font-weight: 500;
  font-size: 1.25rem;
}
li {
  text-align: center;
  transition: var(--transition);
  border-radius: 0.5rem;
}
li:hover {
  background-color: var(--black1);
}

table {
  margin: 0;
  text-align: center;
  width: fit-content;
  border-width: 1px;
  border-style: solid;
  border-color: var(--green4);
}

th,
td {
  text-align: center;
  color: var(--green4);
  border-width: 1px;
  border-style: solid;
  border-color: var(--green4);
}

button {
  transition: var(--transition);
}

h1 {
  margin-top: 1rem;
  color: var(--green5);
}
h3 {
  color: var(--green4);
}

.container {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
}

.background-img {
  display: grid;
  grid-template-rows: 5rem auto;
  background: url("./images/airplane.jpg");
  height: 100vh;
  width: 100%;
  background-size: fill;
  background-repeat: no-repeat;
  background-position: center;
  place-items: center;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: transparent;
  border-style: none;
  border-radius: 0.5rem;
  color: var(--green4);
  font-family: "Roboto", sans-serif;
  height: 2.5rem;
  font-size: 2rem;
  outline: none;
}
.start:hover {
  background-color: var(--black3);
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 5rem;
  color: var(--white1);
  place-items: center;
  width: 100%;
  z-index: 3;
}

.web-header {
  display: flex;
  width: 80%;
  align-items: flex-start;
}

.logo {
  height: 100%;
  width: 80px;
}

.links {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  height: 100%;
  width: 70%;
  transition: var(--transition);
}

.nav-toggle {
  display: none;
}

.nav-toggle:hover {
  background-color: var(--black2);
}

.go-up {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  border: none;
  color: var(--green6);
  outline: 0;
  background-color: transparent;
  font-size: 2rem;
  height: 2.5rem;
  width: 2.5rem;
  display: none;
  z-index: 100;
}

.go-up:hover {
  background-color: var(--green2);
}

.about,
.services,
.tours {
  min-height: 100vh;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  width: 100%;
  text-align: center;
}

.about {
  display: grid;
  background-color: var(--green4);
  place-items: center;
  grid-template-rows: auto auto auto;
}
.about h1 {
  height: 4rem;
}

.services {
  background-color: var(--white1);
  display: grid;
  grid-template-rows: 4rem auto;
  padding: 10px;
}
.services h1 {
  height: 4rem;
}

footer {
  height: 5rem;
  display: flex;
  background-color: var(--green4);
  width: 100%;
  color: var(--white2);
  align-items: center;
  justify-content: center;
}

.move-bar {
  position: fixed;
  background-color: var(--green4);
  box-shadow: 5px -5px 8px var(--black2);
}
/* ========
  MAP CONTENT 
   ========*/

.map-container {
  display: grid;
  grid-template-areas: "a b c" "d b c";
  grid-template-columns: 15% 70% 15%;
  place-items: center;
}
.map-container h1 {
  height: 4rem;
}

#map {
  text-align: center;
  height: 85vh;
  width: 100%;
  margin: auto;
  justify-content: center;
  grid-area: b;
}

#buttons {
  display: grid;
  grid-template-rows: 50% 50%;
  row-gap: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  place-content: center;
  grid-area: d;
  width: 100%;
}

.sim-start,
.sim-stop {
  background-color: transparent;
  border: none;
  height: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--green4);
  font-weight: 800;
  outline: none;
}

.sim-start:hover,
.sim-stop:hover {
  background-color: var(--black1);
  box-shadow: 2px 2px 7px var(--black1);
}

#flights {
  grid-area: a;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#currentCap {
  grid-area: c;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========
END OF MAP CONTENT
   ======== */

@media screen and (max-width: 992px) {
  .background-img {
    display: block;
  }
  .start-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .nav-toggle {
    display: block;
    background-color: transparent;
    color: var(--white1);
    font-size: 2rem;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    outline: none;
  }

  nav {
    display: grid;
    grid-template-columns: auto;
  }

  .web-header {
    display: flex;
    justify-content: space-between;
    width: 90vw;
  }
  .nav-toggle {
    place-self: center;
  }

  .links {
    height: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: inherit;
    width: 100%;
  }

  li {
    margin-left: 1rem;
  }
  .show {
    height: 7rem;
  }

  .map-container {
    display: grid;
    grid-template-areas: "a a a" "d b c";
    grid-template-columns: 25vw 50vw 25vw;
    row-gap: 1rem;
    place-items: center;
  }

  #map {
    text-align: center;
    min-height: 60vh;
    max-height: 75vh;
    width: 95%;
    margin: auto;
    justify-content: center;
    grid-area: a;
  }

  #buttons {
    display: grid;
    grid-template-rows: 50% 50%;
    row-gap: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
    place-content: center;
    grid-area: b;
  }

  .sim-start,
  .sim-stop {
    height: 2rem;
    font-size: 1rem;
  }

  #flights {
    grid-area: d;
  }

  #currentCap {
    grid-area: c;
  }
}

.tours {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  column-gap: 6rem;
  place-items: center;
}

.member {
  margin: 1rem;
}

.member h3 {
  margin-top: 1rem;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.527);
}
.member-img {
  height: 320px;
  width: 270px;
  border-radius: 1rem;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.527);
}

@media screen and (max-width: 992px) {
  .team-members {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .team-members {
    grid-template-columns: auto;
  }
}
